@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    background-color: #F4F0EA;
    color: #798252;
    font-family: "Cabin", sans-sherif;
    font-weight: 400;
}

header {
    padding: 2rem;
    font-size: 2rem;
    background-color: #331f19;
    text-align: center;
}
